*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
/UpgradeLog.XML
/UpgradeLog.htm
/_UpgradeReport_Files/UpgradeReport.css
/_UpgradeReport_Files/UpgradeReport.xslt
/_UpgradeReport_Files/UpgradeReport_Error.png
/_UpgradeReport_Files/UpgradeReport_Information.png
/_UpgradeReport_Files/UpgradeReport_Success.png
/_UpgradeReport_Files/UpgradeReport_Warning.png
